.header {
  background-color: #680eae;
  left: 0px;
  top: -2px;
  max-width: 1920px;
  min-width: 512px;
  height: 115px;
}

.navbar {
  margin-bottom: 20px;
}


.header-btn {
  float: right;
}
@font-face {
  font-family: "Cafe24 ClassicType";
  src: url('../../font/Cafe24Classictype-v1.1.otf') format('opentype');
}
#ls-gather-btn a{
  display: inline-block;
  margin: 50px 15px 15px 15px;
  font-family: "Cafe24 ClassicType";
  font-size: 25px;
  color: white;
}
#btn-li{
  font-family: "부크크 고딕";
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  margin-right: 160px;
  float: left;
}
#logout-btn{
  font-family: "Cafe24 ClassicType";
  font-size: 30px;
  color: #fff;
  background-color: #680eae;
  border: none;

}

#logo {
  width: 400px;
  height: 107px;
}


.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}
#sidemenu-icon{
  width: 24px;
  height: 32px;
}

