

#Slider-text{
    position: absolute;
    left: 1200px;
    top: 350px;
    z-index: 2;
}
#Slider-p1{
    font-family: "부크크 명조";
    color: #fff;
    font-size: 80px;
}
#Slider-p2{
    font-family: "부크크 명조";
    color: #fff;
    font-size: 50px;
}