.u-payment-all-all{
    background-color: rgb(56, 9, 95);
    max-width: 1920px;
}

.u-payment-all{
    margin: auto;
    width: 1000px;
    background-color: #ffffff;
}

#u-payment-h1{
    font-family: "리디바탕";
    font-size: 50px;
    text-align: center;
}

/*상품 정보 영역*/
#u-payment-product-name{
    font-size: 30px;
    margin: 0px 0px 0px 0px;
}

#u-payment-product-intro{
    font-size: 15px;
    margin: 0px 0px 0px 0px;
}

#u-payment-product-quantity{
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}

#u-payment-product-qqqprice {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 0px -40px;
}

#u-payment-product-qqq{
    font-size: 20px;
}

#u-payment-product-qprice{
    font-size: 30px;
}


.u-payment-product-information {
    margin: auto;
    width: 800px;
    font-family: "부크크 고딕";
    margin-bottom: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    padding: 10px 0px 10px 20px;
}


.u-payment-title {
    font-size: 20px;
    font-weight: bold;
    color: #444;
}

/*배송지*/

#u-payment-delivery-org-address{
    margin: auto;
    width: 800px;
    font-family: "부크크 고딕";
    margin-bottom: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    padding: 15px 0px 5px 20px;
}

#u-payment-delivery-address-title{
    font-size: 20px;
    font-weight: bold;
}

#u-payment-delivery-new-address{
    margin: 0px 0px 0px 100px;
}


#u-payment-delivery-new-address label{
    margin-right: 10px;
    margin-bottom: 30px;
    font-family: "부크크 고딕";
}


#u-payment-delivery-address input[type="text"] {
    width: 500px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "부크크 고딕";
    font-size: 16px;
}

#u-payment-new-address{
    width: 200px;
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#u-payment-delivery-new-address button{
    padding: 2px 2px 2px 2px;
    border: none;
    height: 40px;
    background-color: #680EAE;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 0px 0px 0px 10px;
    font-family: "부크크 고딕";
}

#u-payment-delivery-new-address button:hover{
    background-color: rgb(116, 63, 114);
}

/*요청사항*/
.u-payment-request-class{
    margin: 0px 0px 0px 100px;
}

.u-payment-request-class label{
    margin-right: 20px;
    font-family: "부크크 고딕";
}

.u-payment-request-class textarea{
    width: 720px;
    height: 100px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align:middle;
    font-family: "부크크 고딕";
    padding: 10px 0px 10px 10px;
}



/*받는 분 연락처*/
#u-payment-phone{
    margin: 5px 0px 10px 100px;
    font-family: "부크크 고딕";
}

#u-payment-phone label{
    margin-right: 10px;
}


#u-payment-phone-number {
    width: 400px;
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*현재 포인트*/
#u-payment-point{
    width: 400px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0px 0px 300px;
    text-align: center;
    font-family: "부크크 고딕";
}

#u-payment-point p {
    margin: 10px 0px 5px 10px;
    font-size: 20px;
}

#u-payment-point label{
    margin: 0px 10px 20px 0px;
}

#u-payment-point input[type="text"] {
    width: 90px;
    height: 40px;
    padding: 10px;
    margin: 5px 10px 0px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#u-payment-point button {
    height: 40px;
    padding: 1px 1px;
    border: none;
    background-color: #680EAE;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/*총 금액*/
#u-payment-total-price label {
    font-weight: bold;
    font-family: "부크크 고딕";
}

#u-payment-total-price #u-total-price {
    font-size: 20px;
    color: #333;
    font-family: "부크크 고딕";
}




/*총결제테이블*/
.u-payment-total-price-all {
    display: flex;
    justify-content: space-between;
    margin: 100px 50px 0px 50px;
    font-family: "부크크 고딕";
}

#u-payment-product{
    margin-left: 100px;
}

.u-payment-total-price {
    width: 30%;
    margin-bottom: 10px;
}

.u-payment-total-price {
    width: 30%;
    margin-bottom: 10px;
}

.u-table_price {
    width: 100%;
}

.u-table_price th,
.u-table_price td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.u-table_price th {
    font-weight: bold;
}

#u-total-price {
    font-size: 18px;
}

/*결제 수단 선택*/
.u-payment-method{
    text-align: center;
    font-family: "부크크 고딕";
    font-weight: bold;
    margin-top: 50px;
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    justify-content: space-between;
}

#u-payment-method-title{
    font-size: 30px;
}

#u-payment-method-all{
    margin: 10px 0px 0px 350px;
}

.u-payment-method #u-payment-method-card{
    margin-right: 10px;
    float: left;
}

.u-payment-method #u-payment-method-card input[type="radio"]{
    margin-left: 10px;
}

.u-payment-method #u-payment-method-account{
    margin-right: 10px;
    float: left;
}
.u-payment-method #u-payment-method-account input[type="radio"]{
    margin-left: 10px;
}
.u-payment-method #u-payment-method-pay{
    margin-right: 10px;
    float: left;
}
.u-payment-method #u-payment-method-pay input[type="radio"]{
    margin-left: 10px;
}
.u-payment-method input[type='radio'] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }

.u-payment-method input[type='radio']:checked {
    background-color: #85006e;
    border: 3px solid white; 
    box-shadow: 0 0 0 1.6px #ac0292;
  }

#payment-final-button {
    width: 290px;
    padding: 15px 30px;
    margin-top: 20px;
    border: none;
    background-color: #680EAE;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    margin: 50px 0px 50px 350px;
    font-family: "부크크 고딕";
}

#payment-final-button:hover {
    background-color: #a15bd6;
}