@charset "UTF-8"; 

#ProductDetails-img {
  float: left;
  width: 500px;
  height: 500px;
  margin-left: 70px;
}

#ProductDetails-All{
  margin-top: 100px;
  font-family: "부크크 고딕 Bold";
}

#ProductDetails-All2{
  width: 1100px;
  position: relative;
  left: 200px;
}

#ProductDetails-Allexplanation{
  width: 1000px;
  margin-left: 600px;
}
@font-face {
  font-family: "부크크 고딕 Bold";
  src: url('../../font/부크크고딕_굵은글씨.ttf') format('opentype');
}
#ProductDetails-clothesname {
  font-size: 50px;
  padding-left: 30px;
  font-family: "부크크 고딕 Bold";
}

.ProductDetails-fontsize {
  font-size: 30px;
  margin-top: 45px;
  padding-left: 30px;
}

#ProductDetails-sizechoose{
  border: none;
}

#ProductDetails-quantity {
  text-align: center;
}

#ProductDetails-sizeButton {
  margin-right: 20px;
}

#ProductDetails-priceButton {
  margin-right: 20px;
}

#ProductDetails-quantityButton {
  max-width: 400px;
  display: flex;
  align-items: center;
}

#ProductDetails-quantityName{
  width: 70px;
  margin-right: 20px;
}

.ProductDetails-quantitynumberButton {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  padding-bottom: 10px;
  color: #ffffff;
  background-color: #FDC828;
  font-weight: bold;
  font-size: 35px;
}

#ProductDetails-quantitynumber {
  width: 200px;
  height: 40px;
  text-align: center;
  border: none;
  font-size: 40px;

}

#ProductDetails-paymentbtn {
  margin: 50px 0px 0px 0px;
  position: relative;
}

.ProductDetails-paymentbutton {
  border: none;
  border-radius: 10px;  
  background-color: #FDC828;
  font-size: 30px;
  width: 232px;
  height: 80px;
  margin: 5px 30px 0px 30px;
}

#ProductDetails-explanation {
  max-width: 1920px;
  text-align: center;
  border-top: 4px solid #680eae;
  border-bottom: 5px solid #680eae;
  padding: 30px 0px 30px 0px;
  font-size: 60px;

}

#ProductDetails-Description {
  max-width: 1920px;
  height: 400px;
  text-align: center;
  padding-top: 30px;
  font-size: 25px;
}

/*********모달창************/

.black-bg {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: fixed;
  padding: 20px;
  z-index: 3;
}

.white-bg {
  width: 640px;
  height: 300px;
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  left: 600px;
  top: 300px;
  font-family: "부크크 고딕 Bold";
}

.ProductDetailsmodal-Notice{
  height: 50px;
  font-size: 40px;
  text-align: center;
  position: relative;
  top: 50px;
}

.ProductDetailsmodal-btn{
  position: relative;
  left: 67px;
  top: 100px;
}

.ProductDetailsmodal-btn2{
  width: 200px;
  height: 80px;
  font-size: 30px;
  border: none;
  border-radius: 20px;
  margin: 0px 15px 0px 15px;
  background-color: #FDC828;
  color: black;
  
}