@font-face {
    font-family: "bkkGothicBold";
    src: url("@/assets/font/부크크고딕_굵은글씨.ttf");
}
@font-face {
    font-family: "bkkGothicThin";
    src: url("@/assets/font/부크크고딕_얇은글씨.ttf");
}

#contentGroup{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: auto;
    background-color: white;
}

#contentGroup h1{
    margin-left: 20px;
    font-family: "bkkGothicBold";
    font-weight: bold;
}

#contentGroup p{
    margin-left: 40px;
    font-size: 18px;
    font-family: "bkkGothicThin";
}

#background{
    background-color: blueviolet;
}

#background #contentGroup #allUl{
    display: flex;
    float: left;
    margin-left: 74px;
    width: 1000px;
    overflow: hidden;
    flex-wrap: wrap;
}

#background #contentGroup #allUl #oneUl{
    width: 250px;
    float: left;
    margin-left: 33px;
    font-family: "bkkGothicThin";
    font-size: 17px;
}

#contentGroup #allUl #oneUl #clothesImg{
    width: 160px;
    height: 203px;
}

#contentGroup #paging{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}


#search-box{
    display: center;
    text-align: center;
    margin-bottom: 20px;
}

#productList {
    text-align: center;
}