@font-face {
    font-family: "부크크 고딕 Bold";
    src: url('../../font/부크크고딕_굵은글씨.ttf') format('opentype');
}

@font-face {
    font-family: "부크크 고딕 Light";
    src: url('../../font/부크크고딕_얇은글씨.ttf') format('opentype');
}

#ShoppingBasketList-PagenameBreadcrumbs {
    margin-left: 400px;
}

.ShoppingBasket-FontFamilyTitle {
    font-family: "부크크 고딕 Bold";
    font-size: 40px;
}

.ShoppingBasket-FontFamilyLitleTitle {
    font-family: "부크크 고딕 Light";
    font-size: 25px;
    margin-bottom: 30px;
}

#ShoppingBasketList-All {
    width: 1120px;
    height: 500px;
    margin: 0 auto;
}

#ShoppingBasketList-scroll {
    overflow: scroll;
    width: 550px;
    height: 400px;
    scrollbar-width: none;
}

#ShoppingBasketList {
    width: 500px;
    height: 200px;
    list-style-type: none;
    border: 2px solid #d5d5d5;
    border-radius: 15px;
    margin-bottom: 15px;
}

.shoppingBasket-label{
    margin-right: 15px;
}

#ShoppingBasket-img {
    width: 160px;
    height: 160px;
    float: left;
    margin-top: 20px;
    margin-left: 25px;
}

.ShoppingBasket-Cancelbtn {
    width: 20px;
    height: 20px;
    font-size: 17px;
    font-weight: bold;
    color: #be4a4a;
    position: relative;
    left: 275px;
    top: 5px;
    border: none;
    background-color: transparent;
}

.ShoppingBasket-BriefContents {
    font-family: "부크크 고딕 Light";
    font-size: 18px;
    position: relative;
    left: 10px;
    margin-bottom: 11px;
}

#ShoppingBasket-BriefContents-name {
    font-weight: bold;
}

#ShoppingBasket-sizechoose{
    border: none;
}

#ShoppingBasket-quantitynumberAll {
    display: flex;
    align-items: center;
}

.ShoppingBasket-quantitynumberButton {
    border: none;
    border-radius: 20px;
    line-height: 5px;
    width: 20px;
    height: 20px;
}

#ShoppingBasket-quantitynumber{
    border: none;
    text-align: center;
    font-size: 15px;
    width: 70px;
    height: 16px;
}

#ShoppingBasket-Emptybtn {
    width: 160px;
    height: 45px;
    font-family: "부크크 고딕 Bold";
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #FDC828;
    margin-left: 30px;
    margin-top: 30px;
}

#ShoppingBasket-TotalPaymentAmountPayment {
    width: 400px;
    height: 450px;
    font-size: 25px;
    text-align: center;
    margin: 0px 0px 10px 60px;
    position: relative;
    left: 600px;
    bottom: 472px;
    border-radius: 20px;
    background-color: #f6f6f6;
    vertical-align: baseline;
}

.ShoppingBasket-TotalNumberOfProducts {
    font-family: "부크크 고딕 Bold";
    position: relative;
    top: 30px;
    font-size: 35px;
    margin-bottom: 30px;
}

.ShoppingBasket-TotalNumberOfProducts:nth-child(1) {
    font-family: "부크크 고딕 Bold";
    position: relative;
    top: 50px;
    font-size: 35px;
    margin-left: 18px;
}

.ShoppingBasket-TotalNumberOfProducts:nth-child(2) {
    font-family: "부크크 고딕 Bold";
    position: relative;
    top: 50px;
    font-size: 35px;
}

#ShoppingBasket-TotalNumberOfProductsAll{
    display: flex;
    align-items: center;
    position: relative;
    left: 60px;
}

#ShoppingBasket-TotalNumberOfProductsId{
    width: 30px;
    height: 50px;
    font-size: 45px;
    border: none;
    outline: none;
    background-color: #F6F6F6;
    margin-left: 10px;
}

.ShoppingBasket-TotalPaymentAmountFont {
    font-family: "부크크 고딕 Bold";
    position: relative;
    top: 50px;
}

#ShoppingBasket-MakePaymentbtn {
    font-family: "부크크 고딕 Bold";
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #FDC828;
    margin-left: 20px;
    position: relative;
    top: 230px;
    right: 5px;
    color: #414141;
}

#ShoppingBasket-Confirmbutton{
    font-family: "부크크 고딕 Bold";
    width: 45px;
    height: 35px;
    border: none;
    border-radius: 5px;
    position: relative;
    left: 235px;
    bottom: 30px;
    background-color: #FDC828;
}