.dm-btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dm-btn-box .item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: white;
}

.btn {
    display: inline-block;
    min-width: 120px;
    min-height: 48px;
    line-height: 48px;
    background-color: royalblue;
    color: white;
    text-align: center;
}

/* 작은 버튼 */
.btn.btn-sm {
    min-width: 60px;
    min-height: 32px;
    line-height: 32px;
}

/* 제목 영역 */
.main-title {
    margin-bottom: 40px;
}

.main-title h1 {
    font-size: 30px;
}

.main-title p {
    font-size: 20px;
}

/* 테이블 - (게시글목록) */
.deleverymanagement {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 30px 0;
    border-collapse: collapse;

}

.deleverymanagement tr {
    border-bottom: 1px solid gray;
    text-align: center;
}

.deleverymanagement.hover tr:hover {
    background-color: lightblue;
    font-weight: bold;
}

.deleverymanagement .num {
    width: 10%;
}

.deleverymanagement .title {
    width: 40%;
    max-width: 340px;
}

.deleverymanagement .writer {
    width: 20%;
    max-width: 160px;
}

.deleverymanagement .date {
    width: 20%;
}

.deleverymanagement .view {
    width: 10%;
}

.deleverymanagement tbody .title {
    text-align: left;
}

/* 줄 넘침 방지 (...) */
.txt-over {
    display: inline-block;
    width: 95%;
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 말줄임(...) */
    white-space: nowrap;
}

/* 읽기 */
.deleverymanagement .label {
    width: 20%;
}

.deleverymanagement .data {
    width: 80%;
    text-align: left;
}

.deleverymanagement thead {
    font-weight: bold;
}

.deleverymanagement td {
    display: inline-block;
    padding: 15px 0;
    font-size: 1.2rem;
}

/* 텍스트 입력 */
.input-text {
    width: 90%;
    font-size: 32px;
    margin: 0 10px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}

/* 유효성 검사 에러 시 */
.input-text.error {
    border-color: red;
}

.input-textarea {
    resize: none;
    width: 90%;
    font-size: 32px;
    margin: 0px 10px;
    border-radius: 5px;
    outline: none;
}

.input-text:focus,
.input-textarea:focus {
    border: 2px solid royalblue;
    box-shadow: 3px 3px 5px rgba(100, 100, 200, 0.3);
}

.input-text.error:focus {
    border-color: red;
}

/* 검색창 */
.input-search {
    min-height: 48px;
    font-size: 18px;
    padding-left: 8px;
}


/* 에러 메시지 */
.error-msg {
    color: red;
    padding-left: 12px;
    font-size: 12px;
}

/* 페이지네이션 */
.pagination {
    margin: 40px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pagination a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 1px solid gray;
}

.pagination .page-no {
    font-size: 18px;
}

.pagination .page-arrow {
    color: gray;
}

.pagination a.on,
.pagination a:hover {
    background-color: royalblue;
    font-weight: bold;
    color: white;
}

.input-box {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 20px 0;
    padding: 20px 0;
}

.input-box .comment-input {
    width: 400px;
}

.input-box .comment-input input {
    min-height: 48px;
    font-size: 18px;
    padding-left: 8px;
}

.input-box .comment-input textarea {
    font-size: 18px;
    padding-left: 8px;
    resize: none;
    width: 100%;
}

.input-box .dm-btn-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dm-btn {
    display: inline-block;
    border-radius: 5px;
    min-width: 120px;
    min-height: 48px;
    line-height: 48px;
    background-color: #680eae;
    color: white;
    text-align: center;
    font-size: 25px;
}