@font-face {
    font-family: "bkkGothicBold";
    src: url("@/assets/font/부크크고딕_굵은글씨.ttf");
}

#productFormGroup{
    text-align: center;
    font-family: "bkkGothicBold";
}

#productFormGroup table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /*border: 1px solid black;*/
}

#productFormGroup table tr th, td{
    padding: 8px;
/*
    border: 1px solid black;
    border-collapse: collapse;
*/
}
/*
tr:nth-child(even){
    background-color: gold;
}
*/
#productFormGroup table thead tr #firstTh{
    width: 200px;
    font-size: 20px;
    background-color: #680eae;
    color: #fff;
}

#productFormGroup table thead tr #secondTh{
    width: 400px;
    background-color: #680eae;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

#productFormGroup table thead tr #thirdTh{
    width: 200px;
    background-color: #680eae;
    font-size: 20px;
    color: #fff;
}

#productFormGroup table thead tr #fourthTh{
    width: 150px;
    font-size: 20px;
    background-color: #680eae;
    color: #fff;
}
#admin-product-remove-btn{
    background-color: #680eae;
    width: 50px;
    height: 30px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-family: "부크크 고딕 Bold";
    font-size: 15px;
}

#productFormGroup table tbody tr #clothesImage{
    width: 100px;
    height: 100px;
}

#productFormGroup #addBtn{
    border: 1px solid #680eae;
    padding: 5px 10px;
    border-radius: 4px;
    color: #680eae;
    font-family: "부크크 고딕 Bold";
}