#sales-title{
    margin-left: 300px;
}
#content {
    text-align: center;
    border: 3px solid black;
}
#sales-table {
    display: inline-block;
    height: 350px;
    margin-left: 30px;
    margin-top: 30px;
}
#sales-table table {
    width: 500px;
}
.dchart {
    display: inline-block;
    width: 800px;
    margin-left: 30px;
}





/* 테이블 - (게시글목록) */
.deleverymanagement {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 30px 0;
    border-collapse: collapse;

}

.deleverymanagement tr {
    border-bottom: 1px solid gray;
    text-align: center;
}

.deleverymanagement.hover tr:hover {
    background-color: lightblue;
    font-weight: bold;
}

.deleverymanagement .num {
    width: 10%;
}

.deleverymanagement .title {
    width: 40%;
    max-width: 340px;
}

.deleverymanagement .writer {
    width: 20%;
    max-width: 160px;
}

.deleverymanagement .date {
    width: 20%;
}

.deleverymanagement .view {
    width: 10%;
}

.deleverymanagement tbody .title {
    text-align: left;
}

/* 줄 넘침 방지 (...) */
.txt-over {
    display: inline-block;
    width: 95%;
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 말줄임(...) */
    white-space: nowrap;
}

/* 읽기 */
.deleverymanagement .label {
    width: 20%;
}

.deleverymanagement .data {
    width: 80%;
    text-align: left;
}

.deleverymanagement thead {
    font-weight: bold;
}

.deleverymanagement td {
    display: inline-block;
    padding: 15px 0;
    font-size: 1.2rem;
}
