#sales-title{
    margin-left: 300px;
}
#content {
    text-align: center;
    border: 3px solid black;
}
#sales-table {
    display: inline-block;
    height: 350px;
    margin-left: 30px;
    margin-top: 30px;
}
#sales-table table {
    width: 500px;
}
.dchart {
    display: inline-block;
    width: 800px;
    margin-left: 30px;
}




/*테이블*/
#m-payment-table {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 30px 0;
    border-collapse: collapse;
}

#m-payment-table th{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#m-payment-table td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#m-payment-table tr:hover td{
    background-color:#f5f5f5;
}

#m-payment-table {
    margin: 20px 0;
}

.m-payment-table-th {
    background-color: #3f0a2d;
    color: white;
}

.m-payment-table-content {
    background-color: white;
}


.m-payment-table-tfooter{
    background-color: #eceaea;
}